@tailwind base;
@tailwind components;
@tailwind utilities;



.slider-container {
  width: 60%;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: grab;
}

.slide {
  user-select: none;
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.indicator {
  width: 60px;
  height: 2px;
  background-color: #696464;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: white;
}
/* .submenu {
  visibility: hidden;
  position: absolute;
  display: none; 
  bottom: 0;
  top: 100px;
  right: 150px;
  background-color: red;
  color: black;
  z-index: 100;
  width: 200px; 
  height: 400px; 
}
li:hover .submenu {
  visibility: visible;
} */

.RedC{
  @apply hover:text-[#BE263F];
}
.RedCbg{
  @apply hover:bg-[#BE263F];
}
.White{
  @apply hover:text-red-500;
}
.Whitebg{
  @apply hover:bg-red-500;
}
.colorBlue{
  @apply hover:text-blue-500;
}
.colorBluebg{
  @apply hover:bg-blue-500;
}
.colorBlueOpen{
  @apply hover:text-[#009EA3];
}
.colorBlueOpenbg{
  @apply hover:bg-[#009EA3];
}
.colorOrange{
  @apply hover:text-[#EE964B];
}
.colorOrangebg{
  @apply hover:bg-[#EE964B];
}
.colorOrang{
  @apply hover:text-[#F27928];
}
.colorOrangbg{
  @apply hover:bg-[#F27928];
}
.colorGreenField{
  @apply hover:text-[#627452];
}
.colorGreenFieldbg{
  @apply hover:bg-[#627452];
}
.colorshipsHarbour{
  @apply hover:text-[#4F89B0];
}
.colorshipsHarbourbg{
  @apply hover:bg-[#4F89B0];
}
.colorBakersChocolate{
  @apply hover:text-[#5E3217];
}
.colorBakersChocolatebg{
  @apply hover:bg-[#5E3217];
}
.colorPurplishBlue{
  @apply hover:text-[#6449E7];
}
.colorPurplishBluebg{
  @apply hover:bg-[#6449E7];
}
.colorBluishBlack{
  @apply hover:text-[#414144];
}
.colorBluishBlackbg{
  @apply hover:bg-[#414144];
}
.colorBlueMania{
  @apply hover:text-[#6FCBF4];
}
.colorBlueManiabg{
  @apply hover:bg-[#6FCBF4];
}
.colorYellow{
  @apply hover:text-[#FBDE06];
}
.colorYellowbg{
  @apply hover:bg-[#FBDE06];
}
.colorPurplebg{
  @apply hover:bg-[#C16BB6];
}
.colorPurple{
  @apply hover:text-[#C16BB6];
}
.colorGreenBluebg{
  @apply hover:bg-[#4AD493];
}
.colorGreenBlue{
  @apply hover:text-[#4AD493];
}
.colorDomainbg{
  @apply hover:bg-[#18AE91];
}
.colorDomain{
  @apply hover:text-[#18AE91];
}
.sporbg{
  @apply hover:bg-[#07745F];
}
.spor{
  @apply hover:text-[#07745F];
}
.nftbg{
  @apply hover:bg-[#4D79D2];
}
.nft{
  @apply hover:text-[#4D79D2];
}
.funYellowbg{
  @apply hover:bg-[#D4A619];
}
.funYellow{
  @apply hover:text-[#D4A619];
}
.listbg{
  @apply hover:bg-[#392061];
}
.list{
  @apply hover:text-[#392061];
}

.zoomable-bg {
  background-position: center;
  background-size: cover;
  transition: background-size 0.5s ease; 
}

.zoomable-bg:hover {
  background-size: 110%;
}
.NavbarCard ul ~ li{
  border: 2px solid black;
  background-color: #0543EC;
  height: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PosterCoins{
  background-color: #E94A35;
}
.CoinsPTwo{
  background-color: #2196f3;
}
.CoinsPThree{
  background-color: yellow;
}

.button {
  width: 150px; 
  padding: 10px 10px 7px 10px; 
  text-align: center; 
  border: none; 
  cursor: pointer; 
  position: relative; 
}

.button.active::after {
  content: ""; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 3px; 
  background-color: #4AD493;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.no-scrollbar::-webkit-scrollbar {
  display: none;  
}
.bullet {
  background-image: url("../src/assets/iphoneear.jpg");
}
.handleearphone {
  background-image: url("../src/assets/handleearphone.jpg");
}
.handleearphoneBook {
  background-image: url("../src/assets/comBook3.jpg");
}
.drone {
  background-image: url("../src/assets/drone.jpg");
}
.droneBook {
  background-image: url("../src/assets/comicBook2.jpg");
}
.charger {
  background-image: url("../src/assets/chargephone.jpg");
}
.chargerBook {
  background-image: url("../src/assets/comicBook41.jpg");
}
.charBook {
  background-image: url("../src/assets/comicBook5.jpg");
}
.bulletArt{
  background-image: url("../src/assets/ibid_art_banner1.jpg");
}
.bulletBook{
  background-image: url("../src/assets/comicBook1.jpg");
}
.droneArt{
  background-image: url("../src/assets/ibid_art_banner2.jpg");
}
.PosterArt{
  background-image: url("../src/assets/420banner.jpg");
}
.PosterAntiques{
  
  background-image: url("../src/assets/440color.png");
} 
.PosterAutoOne{
  
  background-image: url("../src/assets/sportCar868.png");
} 
.PosterAutoTwo{
  
  background-image: url("../src/assets/bmw587.png");
} 
.PosterCatOne{
  
  background-image: url("../src/assets/chickenscattlejs.jpg");
} 
.PosterCatTwo{
  
  background-image: url("../src/assets/donkeycattlejs.jpg");
} 
.PosterAutomotive{
  
  background-image: url("../src/assets/SprotsCars.jpg");
} 
.PosterArtTwo{
  background-image: url("../src/assets/500benner.jpg");
}
.PosterAntiquesTwo{
  background-image: url("../src/assets/700Vintage.png");
}
.PosterAutomotiveTwo{
  background-image: url("../src/assets/VINtagecars.jpg");
}
.chargerCat{
  background-image: url("../src/assets/sheep.jpg");
}
.horseCat{
  background-image: url("../src/assets/horse400.jpg");
}
.bulletCat{
  background-image: url("../src/assets/chicken.jpg");
}
.droneCat{
  background-image: url("../src/assets/donkey.jpg");
}
.bulletMil{
  background-image: url("../src/assets/Militaria-banner1-1024x481.jpg");

}
.bulletSelf{
  background-image: url("../src/assets/assortStorage1.jpg");
}
.bulletCoinsOne{
  background-image: url("../src/assets/ibid_coin_banner1.jpg");
}
.bulletCoinsTwo{
  background-image: url("../src/assets/ibid_coins_banner2.jpg");
}
.droneMil{
  background-image: url("../src/assets/Militaria-banner2.png");

}
.householdSelf{
  background-image: url("../src/assets/householdSelf.jpg");
}
.sportingSelf{
  background-image: url("../src/assets/sportingStorage.jpg");
}
.toolStorage{
  background-image: url("../src/assets/toolsStorage.jpg");
}
.Machine1{
  background-image: url("../src/assets/machine1.png");
}
.compoctors{
  background-image: url("../src/assets/compoctors.png");
}
.buldozers{
  background-image: url("../src/assets/buldozers.jpg");
}
.cranes{
  background-image: url("../src/assets/craness.jpg");
}
.horseMil{
  background-image: url("../src/assets/Militaria-banner3.jpg");

}
.chargerMil{
  background-image: url("../src/assets/Militaria-banners4.jpg");
}
.salesSelf{
  background-image: url("../src/assets/lowReal.jpg");
}

.householdSelf{
  background-image: url("../src/assets/constructionsReal.jpg");
}
.landReal{
  background-image: url("../src/assets/landReal.jpg");
}
.apartmanState{
  background-image: url("../src/assets/realestatefinish.jpg");
}
.bulletTour{
  background-image: url("../src/assets/ToursBullet.jpg");
}
.bulletCruises{
  background-image: url("../src/assets/ourCruises.jpg");
}
.bulletBreaks{
  background-image: url("../src/assets/breaks.jpg");
}
.villaTour{
  background-image: url("../src/assets/villastour.jpg");
}
.communitylink{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}
.sidebar-label-container{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.sidebar-label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}
.backSubject{
  text-shadow: 1px -6px 18px rgba(32,29,29,0.7);
  color: white;
}
.slide-item {
  transition: transform 0.5s ease; 
}

.slide-item:hover {
  transform: translateX(5px); 
}
*.container {
  width: 100%;
  max-width: 1668px;
  margin: 0, auto;
  padding: 15 10px;
}

.dropdown {
  position: relative;
}

.category-button {
  padding: 10px;
}

/* .dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 10;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.dropdown {
  position: relative;
} */

.category-button {
  position: relative;
  padding: 10px;
}

.arrow {
  position: absolute;
  left: 80px;
  top: 52%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrow-up {
  border-top: 5px solid black;
}

.arrow-down {
  border-bottom: 5px solid black;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 10;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}

input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.inputBlue:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0543EC;
}



.imagePhone {
  background-image: url(../src/assets/mobile_prod1-1-400x400.jpg);
}
.slider-container {
  position: relative;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

*.input {
  outline: 0;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.input:focus {
  border-top  : 1px solid #2695ff; 

}

.tooltip-container {
  position: relative; 
}

/* .tooltip > title {
  visibility: hidden; 
  width: 120px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute; 
  z-index: 1;
  bottom: 125%; 
  left: 50%; 
  transform: translateX(-50%); 
}

.tooltip-container:hover .tooltip > title {
  visibility: visible;
} */

/* //MEDIA QUERY// */

@media only screen and (max-width: 600px) {
  br{
    display: none;
  }
  *.container{
    width: 535px;
  }
  .hamburgerMenu{
    color: #2695ff;
  }
  .logoicon{
    display: flex;
    flex-direction: row;
  }
  .dropdown{
    display: none;
  }
  .logoIcons{
    height: 70px;
    border-bottom: 1px solid rgb(212, 212, 212);
    margin-bottom: 18px;
  }
  .topHeader{
    display: flex;
    flex-direction: row;
    gap:5px;
    margin-left: 432px;
    padding-top: 8px;
    font-size: 16px;
  }
  .iconsHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 244px;
    font-size: 19px;
  }
  .headerTop{
    display: block;
    border: none;
    border-bottom: 1px solid rgb(225, 222, 222);
  }
  .nameTop{
    display: none;
  }
  .wishTrack{
    display: none;
  }
  .slider-container{
    width: 535px;
  }
  .dropdown{
    display: none;
  }
  .headerNav{
    display: none;
  }
  .filtered{
    display: none;
  }
  .basket{
    display: none;
  }
  /* .searchButton{
    margin-top: 15px;
    background-color: red;
    border: none;
    background-color: transparent;
    color: black;
  } */
  .logo{
   width: 70px; 
   position: relative;
   right: 60px;
  }
  /* //callcenter */
  .tracking{
    display: flex;
    justify-content: start;
    padding-left: 15px;
    flex-direction: column;
    gap: 25px;
    margin-top: -170px;
  }
  /* //posters */
   .viewPart{
      width: 590px;
      display: flex;
      flex-direction: column;
      justify-content: start;

      margin-left: -70px;
  }
  .btnHovered{
    display: none;
  }
  /* auctionshow */
  .symbols{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .onePoster{
    
    display: flex;
    flex-direction: column;
    
  }
  .salesPart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-left: -12px;
    width: 258px;
    height: 410px;
    
  }
  .salesPartPost{
    width: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: wrap;

  }
  .Poster {
    width: 535px;
    height: 323px;
    margin-left: 8px;
  }
  /* //Posters// */
  .posterYelGree{
    margin-left: 10px;
  }
  .posterTwo{
    margin-left: 10px;
    margin-top: -72px;
  }
  .bullet {
    margin-left: 0px;
    width: 535px;
    height: 243px;
    background-image: url("../src/assets/535(1).jpg");
  }
  .bulletBook{
    margin-left: 0px;
    width: 535px;
    height: 243px;
    background-image: url("../src/assets/comicBook1.jpg");
  }
  .handleearphone {
    width: 535px;
    height: 341px;
    background-image: url("../src/assets/535(6.jpg");
  }
  .drone {
    margin-left: 0px;
    width: 535px;
    height: 341px;
    background-image: url("../src/assets/535(3).jpg");
  }
  .charger {
    width: 535px;
    height: 248px;
    background-image: url("../src/assets/535(4).jpg");
  }
  /* //phones// */
  
    .first{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -55px;
      gap: 2;
    }
    .second{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    /* .PhonesAll{   
      width: 672px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -100px;
    } */
    .allPhones{
      width: 250px;
      height: 400px;
      margin-left: 3px;
    }
   
    .phoneBottom{
      margin-top: 78px;
      width: 250px;
    }
    
  
  /* //location */
  .formData{
    margin-left: 15px;
    width: 100%; 
    display: flex;
    justify-content: center;
  }
  .location{
    display: none;
  }
  /* friendcommunity */
  .community{
    display: flex;
    flex-direction: column;
  }
  .latestnew{
    display: flex;
    flex-direction: column;
  }
  .symbolsLatest{
    margin-right: -7px;
    width: 100%;
  }
  .communityPost{
    margin-left: -48px;
    display: flex;
    flex-direction: column;
  }

  /* //slide// */
  .sliderpart{
    width: 550px;
  }
  /* footerfilter */
  .filterfooter{
    width: 560px;
    height: 120px;
  }
  .filterown{
    width: 500px;
    height: 40px;
  }
  .footerblue{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 19px 10px;
  }
  /* //Footer// */
  .averageFooter{
    display: flex;
    flex-direction: column;
    padding-left: 9px;
   
  }
  /* //lastfooter */
  .lastFooter{
    display: none;
    margin-bottom: 180px;
  }
  .formFooter{
    margin-top: 9px;
    width: 330px;
  }
  .btnFilter{
    margin-top: 9px;
    width: 150px;
    border-radius: 49px;
  }
  /* //////////////////////////////////////////////////////////////////ArtAuction */
  .posterYelGreeArt{
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    margin-top: -50px;
    gap: 5px;
  }
  /* .bulletArt{
  
    width: 535px;
    height: 289px;
    background-image: url("../src/assets/500benner.jpg");
  } */
  /* .classicalArt{
    width: 535px;
    height: 350px;
    background-image: url("../src/assets/AntiPoster.png");
    
  } */
  /* //sales// */
  .symbols{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .salesPartArt{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-left: -12px;
    width: 258px;
    height: 410px;
    
  }
  .salesPartPostArt{
    width: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: wrap;
    margin-left: -65px;
  }
  .PosterArt{
    width: 533px;
    height: 300px;
    margin-left: -60px;
  }
  .PosterAntiques{
    width: 533px;
    height: 300px;
    margin-left: -60px;
  }
  .lastFooter{
    display: none;
    margin-bottom: 180px;
  }
  .formFooter{
    margin-top: 9px;
    width: 330px;
  }
  .btnFilter{
    margin-top: 9px;
    width: 150px;
    border-radius: 49px;
  }
  /* ////////////////////Antiques//////////////////// */
  .CopyLastFooter{
    display: block;
  }
  .PosterAntiquesTwo{
    width: 533px;
    height: 300px;
    margin-left: -60px;
  }
  /* /////////////////Automotive////////////////////// */
  .PosterAutomotive{
    width: 535px;
    height: 340px;
  }
  .PosterAutomotiveTwo{
    width: 535px;
    height: 340px;
  }
  .PosterAutoOne{
    width: 535px;
    height: 300px;
    margin-left: -60px;
  }
  
  .PosterAutoTwo{
    width: 535px;
    height: 300px;
    margin-left: -60px;
  }
  .PosterCatOne{
    width: 535px;
    height: 300px;
    margin-left: -60px;
  }
  
  .PosterCatTwo{
    width: 535px;
    height: 300px;
    margin-left: -60px;
  }
  /* .CopyLastFooter{
    
    display: block;
  } */
}

@media only screen and (min-width: 600px) {
  
}

@media only screen and (min-width: 768px) {
  

}
@media only screen and (min-width: 992px) {
 
}
/* @media only screen and (min-width: 1200px) {
  
} */